<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create">Crear Libro</a>
          </li>
          <li class="nav-item">  
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/create">Crear Libro</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar Libros" aria-label="Search">
          <button class="btn btn-warning rounded-pill" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="promo-tab" data-bs-toggle="pill" href="#Promo" role="tab"  aria-controls="Promo" aria-selected="true">Promociones</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="cover-tab"  data-bs-toggle="pill" role="tab"  href="#cover" aria-selected="false" aria-disabled="true">Nuestras Tiendas Fisica</a>
        </li>
      </ul>
    </div>
    <div class="card-body tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="Promo" role="tabpanel" aria-labelledby="promo-tab">
        <h5 class="card-title">Promociones Exclusivas</h5>
        <img src="img/imagen1.jpg" class="img-fluid rounded mb-3" alt="Imagen de prueba">

        <p class="card-text">Disfruta de descuentos increibles y únicos.</p>
        <a href="#" class="btn btn-primary">Ver Promociones</a>
      </div>
      <div class="tab-pane fade" id="cover" role="tabpanel" aria-labelledby="cover-tab">
        <h5 class="card-title">Coberturas</h5>
        <div class="ratio ratio-16x9 mb-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d32553.6620872046!2d-76.13638181191934!3d-13.424623888082738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1746237641295!5m2!1ses-419!2spe" 
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
      </div>
   </div>
 </div>

 

  
  <div class="container mt-4">
    <div class="row">
      <!-- Buscador de libros -->
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" id="productSearch" placeholder="Buscar libros...">
      </div>
    
      <!-- Buscador por Categoría -->
      <div class="col-md-4 mb-3">
        <select class="form-select" id="categorySearch">
          <option value="">Selecciona una categoría</option>
          <option value="Ficcion">Ficcion</option>
          <option value="Dramatico">Dramatico</option>
          <option value="Cientifico">Cientifico</option>
          <option value="Dictactico">Dicdactico</option>
        </select>
      </div>

      <!-- Ordenar por Precio -->
      <div class="col-md-4 mb-3">
        <select class="form-select" id="priceSort">
          <option value="asc">Ordenar  Menor a mayor</option>
          <option value="desc">Ordenar Mayor a menor</option>
        </select>
      </div>
    </div>

    
   <div class="container">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="img/libro1.jpeg" class="card-img-top" alt="Imagen del libro" style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">El Principito</h5>
          <p class="card-text">Una novela corta que combina aventura y reflexión, ideal para todas las edades.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
          <button class="btn btn-primary w-100">Comprar</button>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-200">
        <img src="img\libro2.jpg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">La Odisea</h5>
          <p class="card-text">
            La épica aventura de Odiseo en su viaje de regreso a Ítaca, enfrentando monstruos, dioses y desafíos durante años.
          </p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
          <button class="btn btn-primary w-100">Comprar</button>
        </div>
      </div>
        <div class="card-footer">
          <small class="text-body-secondary">Actualziado hace 5 minutos</small>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/libro3.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Los Rios Profundos</h5>
          <p class="card-text">
            Una novela que retrata la cultura indígena andina a través de los ojos de un joven mestizo en el Perú profundo.
          </p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
          <button class="btn btn-primary w-100">Comprar</button>
        </div>
      </div>
        <div class="card-footer">
          <small class="text-body-secondary">Actualizado hace 5 minutos</small>
        </div>
      </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="img/libro4.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">El Mundo es Ancho y Ajeno</h5>
          <p class="card-text">
            La historia épica de una comunidad indígena y su lucha por la tierra y la dignidad en los Andes peruanos.
          </p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
          <button class="btn btn-primary w-100">Comprar</button>
        </div>
        
      </div>
        <div class="card-footer">
          <small class="text-body-secondary">Actualizado hace 5 minutos</small>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/libro5.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">La Casa Verde</h5>
          <p class="card-text">
            Una obra maestra que explora la vida en la Amazonía peruana y los vínculos entre la violencia, el deseo y la marginalidad.
          </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
            <button class="btn btn-primary w-100">Comprar</button>
          </div> 
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/libro6.webp" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Todas las Sangres</h5>
          <p class="card-text">
            Un análisis profundo del Perú y su diversidad cultural, mostrando las tensiones entre el mundo indígena y el moderno.
          </p>
           </div>
           <div class="card-footer text-center">
            <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
            <button class="btn btn-primary w-100">Comprar</button>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Actualizado hace 5 minutos</small>
        </div>
      </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="img/libro7.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Un Mundo para Julius</h5>
          <p class="card-text">
            La historia de Julius, un niño de la alta sociedad limeña, y su inocencia frente a la desigualdad y la corrupción social.
          </p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
              <button class="btn btn-primary w-100">Comprar</button>
            </div>
          </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/libro8.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">No Una, Sino Muchas Muertes</h5>
          <p class="card-text">
            Relatos urbanos de Lima que exponen la crudeza de la pobreza y la vida marginal en la capital peruana.
          </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
            <button class="btn btn-primary w-100">Comprar</button>
          </div>
          
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="img/libro9.jpeg" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Redoble por Rancas</h5>
          <p class="card-text">
            Una novela poderosa sobre las luchas campesinas en los Andes, parte de la serie épica conocida como La Guerra Silenciosa.
          </p>
           </div>
           <div class="card-footer text-center">
            <button class="btn btn-success mb-2 w-100">Añadir al Carrito</button>
            <button class="btn btn-primary w-100">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="text-center">
    <a href="#" class="btn btn-primary mb-2" style="width: 150px;">Ver Más...</a>
  </div>
</div>

<script>
  const productSearch = document.getElementById('productSearch');
  const categorySearch = document.getElementById('categorySearch');
  const priceSort = document.getElementById('priceSort');
  const bookList = document.querySelectorAll('.book');

const books = [
  { title : "El Principito", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro1.jpeg" },
  { title : "La Odisea", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro2.jpeg" },
  { title : "Los Rios Profundos", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro3.jpeg" },
  { title : "El Mundo es Ancho y Ajeno", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro4.jpeg" },
  { title : "La Casa Verde", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro5.jpeg" },
  { title : "Todas las Sangres", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro6.jpeg" },
  { title : "Un Mundo para Julius", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro7.jpeg" },
  { title : "No Una, Sino Muchas Muertes", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro8.jpeg" },
  { title : "Redoble por Rancas", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro9.jpeg" },
  { title : "La Guerra Silenciosa", author : "Rick Riordan", price : 15.99, category : "Ficcion", image : "img/libro10.jpeg" },
];

//mostrar todos los libros
function displayBooks() {
  let filteredBooks = books;


  if (productSearch.value) {
    filteredBooks = books.filter(book => book.title.toLowerCase().includes(productSearch.value.toLowerCase()));
  }

  //categoria de libros
  
  if (categorySearch.value) {
    filteredBooks = filteredBooks.filter(book => book.category === categorySearch.value);
  }

  //ordenar por precio

   if (priceSort.value == 'asc') {
    filteredBooks = filteredBooks.sort((a, b) => a.price - b.price);
  }

  else if (priceSort.value == 'desc') {
    filteredBooks = filteredBooks.sort((a, b) => b.price - a.price);
  }
  //mostrar libros filtrados
  bookList.innerHTML = "";
  filteredBooks.forEach(book => {
    const bookCard = `
      <div class="col-md-4 mb-4">
          <div class="card">
            <img src="${book.img}" class="card-img-top" alt="${book.title}">
            <div class="card-body">
              <h5 class="card-title">${book.title}</h5>
              <p class="card-text">Categoría: ${book.category}</p>
              <p><strong>$${book.price}</strong></p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        </div>
      `;
      booksList.innerHTML += bookCard;
    });
  }
  //eventos de los filtros
  productSearch.addEventListener('input', displayBooks);
  categorySearch.addEventListener('change', displayBooks);
  priceSort.addEventListener('change', displayBooks);

  displayBooks();
</script>
  
  <footer class="text-center">
    <p>Copyright © 2023 SENATI - Proyecto Final</p>
  </footer>
  

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</html>